*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --withe:#DCDCDC;
    --black:#343639;

    /* --withe:#343639;
    --black:#DCDCDC; */
}
.dark{
    --withe:#343639;
    --black:#DCDCDC;
}
body{
    background-image: url(../assets/img/bg.png);
    background-size: cover;
}
.container{
    height: 100vh;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.darkbtn{
    background-color: var(--withe);
    border: solid black 1px;
    box-shadow: 2px 2px 10px white;
    width: max-content;
    padding: 3px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.darkbtn i{
    cursor: pointer;
}
.calcul{
    height: 450px;
    width:320px;
    padding: 20px 20px;
    background-color: var(--withe);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow:1px 1px 10px var(--black);
}
.view input{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 80px;
    width: 100%;
    font-size: 30px;
    border: none;
}
.button{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}
.button button{
    height: 50px;
    width: 50px;
    background-color:var(--withe);
    border: none;
    border-radius: 8px;
    /* border-radius: 50%; */
    box-shadow:0px 0px 5px black;
    cursor: pointer;
    font-size: 20px;
    color: var(--black);

}
.button button:hover{
    background-color:white;
}
.button button:active{
    background-color:white;
}
.zero{
    grid-column: 1/3;
    width: 125px !important;
    text-align: start;
    padding-left: 20px;
}
.green{
    color: #06A850 !important;
}
.yellow{
    color: #D69B06 !important;
}
p{
    text-align: center;
    color: white;
    font-size: 15;
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-weight: bold;
}
.ac{
    background-color: rgba(255, 0, 0, 0.726) !important;
    color: white !important;
}